*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}

.header{
    background: #eeeeee;
    height: 60px;
}
.logo{
    width: 36px;
    height: 36px;
}

.header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.header nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
header a {
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    padding: 5px 20px;
    display: block;
}

header a:hover{
    /* border-bottom: solid 3px #0196F0; */
    color: #0196F0;
}
.header nav ul li ul{
    display: flex;
    flex-direction: column;
}
.header nav ul li ul{
    position: absolute;
    background: #f2f2f2;
}
.header nav ul li ul li{
    width: 180px;
    position: relative;
}
.header nav ul li ul li ul{
    position: absolute;
    top: 0;
    left: 180px;
}
.header nav ul li ul{
    display: none;
}

.header nav ul li:hover > ul{
    display: block;
}

/* Hero */

.hero{
    background-image: url(../images/FrenteClub1600×1067.jpg);
    height: 700px;
    /* width: 100%; */
    background-size:cover;
    background-attachment:fixed;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.hero h1{
    color: #ffffff;
    background-color: #000000;
    padding: 16px;
    border: 5px solid #0196F0;
    font-size: 40px;
}

/* Noticias */

.noticias{
    padding: 16px;
    background-color: #f2f2f2;
}

.noticias__titulo{
    font-size: 36px;
    padding: 20px;
    /* font-weight: 400; */
    
}
.noticias__titulo:hover{
    color: #0196F0;
}

.noticias-main{
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

.noticias-card{
    width: 100%;
    max-width: 450px;
    position: relative;   

}

.noticias-card img{
    width: 450px;
    height: 450px;
}

.noticias-card a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.noticias-card__subtitulo {
    font-weight: 700;
    background-color: #ffffff;
    text-transform: uppercase;
    position:absolute;
    bottom:44px;
    left: 0px;
    padding: 5px;
}

.noticias-card__titulo{
    font-weight: 400;
}


/* Footer */

footer{
    height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-evenly;
}

.partFooter{
    width: 25%;
    height: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.partFooter h4{
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 5px;
}

.partFooter a{
    text-decoration: none;
    font-size: 14px;
    padding: 3px;
    color: #000000;
}

.partFooter a:hover{
    color: #0196F0;
}

.redes-sociales img{
    width: 10%;
    margin: 8px;
}

.logo-footer img{
    /* width: 100px;
    height: 100px; */
    width: 40%;
}

.redes-sociales a {
    font-size: 36px;
    display: inline-block;
    color: #000000;
    border: 2px solid transparent;
    border-radius: 50%;
}

.redes-sociales a:hover {
    color: #fff;
    background-color: #0196F0;
}

/* Estilos de las Noticias */

.deportes-noticia{
    width: 200px;
    margin: auto;
}

.deportes-noticia img{
    float: left;
}